
<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :body %>
    <%# WE ADD A PHOTOS FILE UPLOAD FIELD - AND GIVE IT MULTIPLE: TRUE ATTRIBUTE SO WE CAN UPLOAD MULTIPE FILES AT ONCE %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
